
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spinning {
  animation: spin 1s infinite linear;
}

.GameContainer {
  text-align: center;
}

.Lobby h1 {
  margin-bottom: .75em;
}

.Lobby .glyphicon {
  vertical-align: text-top;
}

.Overlay {
  position: absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index: 2;
  color: white;
  width: 100%;
  height: 100%;
  white-space: pre-line;
  font-size: 32px;
}