@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spinning {
  animation: spin 1s infinite linear;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
}

.Preferences {
  position: fixed;
  z-index: 12;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: stretch;
}

.Preferences .UserConfig, .Preferences .GlobalConfig {
  overflow: scroll;
  background: rgba(255, 255, 255, 0.85);
  border: 8px solid #337ab7;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
}

.Game {
  background: black;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}

.Game .GameContainer {
  text-align: center;
  padding: 16px;
}

.Game .GameContainer Canvas {
  border: 4px solid white;
  display: inline-block;
}

.PhoneControls {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  z-index: 11;
  opacity: 1;
  user-select: none;
}

.PhoneControls div {
  height: 100%;
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(96, 96, 96, 0.85);
  font-size: 2em;
  border-radius: 16px;
}

.PhoneControls div .glyphicon {
  vertical-align: text-top;
}

.PhoneControls.PhoneControls-invisible {
  opacity: 0;
  transition: opacity 1s;
}

@media only screen and (min-width: 1000px) {
  /*.Game .GameContainer {
    padding-right: 25%;
  }*/
}

.Game #scores {
  text-align: center;
  padding: 16px;
}

.Game #ads {
  text-align: center;
  padding: 16px;
}

.Lobby .header {
  display: flex;
  align-items: center;
}

.Lobby .header h1 {
  width: 100%;
}

.Lobby .header button {
  margin-left: 8px;
}

.Lobby .ball {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  border: 2px solid #333;
}

.Lobby .table th:nth-child(1) {
  width: 10%;
}

.Lobby .table th:nth-child(3), .Lobby .table td:nth-child(3) {
  width: 20%;
  text-align: right;
}

.RoomBrowser {
  text-align: center;
  margin: 0 auto;
  max-width: 960px;
  padding: 2rem;
}

.RoomBrowser h1 {
  margin: 1rem 0;
}

.RoomBrowser form {
  display: inline-block;
}

.RoomBrowser table {
  width: 100%;
}

.Overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: white;
  white-space: pre-line;
  font-size: 32px;
  user-select: none;
}

.Config {
  padding: 16px;
}

.Config label {
  padding: 8px;
}

.Spinner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  min-height: 100px;
  animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
}

@media only screen and (max-width: 991px) {
  .Game {
    display: block;
  }

  .PhoneControls {
    display: flex;
  }

  @media (orientation: landscape) {
    #scores, #ads {
      display: none;
    }
  }

  @media (orientation: portrait) {
    #scores h1 {
      display: inline-block;
      margin: 1rem;
      font-size: 1em;
    }
  }
}
